.todo-input--container {
    background-color: #25283D;
    color: #AFB2CA;

    margin: 16px auto;
    max-width: 290px;

    border-radius: 8px;
}

.todo-input--container input {
    border: none;
    border-radius: 8px;
    
    padding: 16px;
    background-color: #25283D;
    color: white;

    width: 100%;
}

.todo-input--container input:focus, aside input:focus-visible {
    border-color: white;
}


@media (min-width: 425px) {
    .todo-input--container {
        max-width: 385px;
    }
}

@media (min-width: 768px) {
    .todo-input--container {
        max-width: 600px;
    }
}