.todo-item--container {
    padding: 16px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid;

    max-width: 290px;
}

.todo-item--dark {
    background-color: #25283D;
    color: #AFB2CA;
    border-color: #303448;;
}

.todo-item--light {
    background-color: #fff;
    color: #5161d7;
    border-color: #F5F5F5
}

.todo-item--container span {
    text-transform: capitalize;
}

.todo-item--rounded {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.todo-item--container input {
    margin-right: 10px;
    margin-top: 5px;
}

.todo-item--overline {
    text-decoration: line-through;
}

@media (min-width: 425px) {
    .todo-item--container {
        max-width: 385px;
    }
}

@media (min-width: 768px) {
    .todo-item--container {
        max-width: 600px;
    }
}