.App-container--middle {

    padding: 40px 20px;
    
    height: 100vh; /* Esto hace que el contenedor ocupe el 100% del viewport */
    background: linear-gradient(to bottom, purple 40%, black 40%); /* Gradiente lineal con el 40% de púrpura y el 60% de negro */

}

